<h1>Create a Mission</h1>

<% if flash[:mission_errors] %>
    <% flash[:mission_errors].each do |error| %>
        <p><%= error %></p>
    <% end %>
<% end %>

<%= form_for @mission do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :scientist_id %>
    <%= f.collection_select :scientist_id, @scientists, :id, :name %>
    <br>
    <%= f.label :planet_id %>
    <%= f.collection_select :planet_id, @planets, :id, :name %>
    <br>
    <%= f. submit %>
    <% end %>